{% extends 'base.html.twig' %}
{% block body %}
    <div id="root"></div>
    <script>
        let data_tracks = [];
        {%  for track in tracks  %}
            data_tracks.push({
                performer: '{{ track.performer }}',
                title: '{{ track.title }}',
                genre: '{{ track.genre }}',
                year: '{{ track.year|number_format(0, '', '') }}'
            });
        {% endfor %}
    </script>
{% endblock %}
