{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-9 pull-left">
        <h4>Плейлист</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Исполнитель</th>
                <th>Песня</th>
                <th>Жанр</th>
                <th>Год</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>2222</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td>4444</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td>4566</td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-container justify-content-center">
            <ul class="pagination pagination-info">
                <li class="page-item arrow-margin-left">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item active"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item arrow-margin-right">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-3 pull-right">
        <h4>Фильтр</h4>
        <form action="" class="form">
            <div class="form-group">
                <label for="performer">Исполнитель</label>
                <select class="form-control" id="performer">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="genre">Жанр</label>
                <select class="form-control" id="genre">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="year">Год</label>
                <select class="form-control" id="year">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </form>
    </div>
    {#<div id="root"></div>#}
{% endblock %}