{% extends 'base.html.twig' %}
{% block body %}
    <div id="root"></div>
    <!--suppress JSAnnotator -->
    <script>
        const data_tracks = {{ tracks|json_encode() }};
    </script>
{% endblock %}
